<!-- Hero Section-->
    <section class="hero"
    #hero
  appParallax
  #p="mouseParallax"
  (mousemove)="p.mouseMoved($event, hero)"
    style="background-image: url(assets/images/faq-bg.jpg);">
      <div class="container text-center">
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" class="animsition-link">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">FAQ </li>
          </ol>
        </nav>
        <h1 class="hero-heading">Frequently asked questions</h1>
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ Section-->
    <section>
      <div class="container">
        <!-- wordPress installation-->
        <header class="section header mb-5">
          <h2>Have a question?</h2>
          <p class="lead">Check below or search for any frequently asked question in our batabase.</p>
        </header>
        <div class="row"> 
          <div class="col-lg-8">   
            <div class="accordion pb-5">
              <!-- question-->
              <div class="card bg-dark" *ngFor="let faq of faqList; let i = index;">
                <div class="card-header">
                  <h4 class="mb-0 accordion-heading">
                    <button (click)="toggleFaqContainer(i)" class="d-flex align-items-center"><i class="icon-light-bulb"></i><span>{{faq?.query}}</span></button>
                  </h4>
                </div>
                <div *ngIf="faq.show === 'show'" [hidden]="faq.show === 'hide'" class="animate slide-in-down">
                  <div class="card-body text-dark" [innerHTML]="faq?.answer?.content"></div>
                  <div class="card-footer" *ngIf="faq?.answer?.links?.length">
                    <button class="btn btn-outline-dark" (click)="navigateTo(faq.answer.links[0])">Possible Solution</button>
                  </div>
                </div>
              </div>
        
            </div>
            <!-- troubleshooting-->
            <!-- <header class="section-header text-left mb-5 mt-5">
              <h2 class="mt-5">Troubleshooting</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </header> -->
            
          </div>
          <!-- sidebar-->
          <aside class="sidebar col-lg-4 mt-5 mt-lg-0">
            <div class="search mb-4">
              <form action="#" class="search-form">
                <div class="form-group">
                  <input type="search" name="search" placeholder="Search" class="form-control">
                  <button type="submit"> <i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <div class="sidebar-widget mb-4">
              <h4 class="sidebar-widget-heading">Questions Categories</h4>
              <ul class="list-unstyled pl-0 mt-4">
                <li> <a href="#" class="categories-link">MedTelPlus Activation</a></li>
                <li><a href="#" class="categories-link">Troubleshooting</a></li>
                <li><a href="#" class="categories-link">Pricing &amp; Support</a></li>
                <li><a href="#" class="categories-link">Tips &amp; Tricks</a></li>
                <li><a href="#" class="categories-link">Managing Packages</a></li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h4 class="sidebar-widget-heading">New Tags</h4>
              <ul class="list-inline pl-0 mt-4">
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Medical Services</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Telemedicine</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Mobile Emergency Device</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Mobile App</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Cancer Screening</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Super Bundle</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </section>
