<!-- Hero Section-->
    <section class="hero"
    #hero>
    <div style="background-image: url(assets/images/masthead/masthead-bg_1.jpg);" class="background img-fluid" parallax
      [config]="{initialValue: -0, ratio: .1}">
    </div>
      <div class="container text-center">
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-primary" (click)="navigateTo('/')">Home </li>
            <li aria-current="page" class="breadcrumb-item active">Faq </li>
          </ol>
        </nav>
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8 mb-5">
            <h2 class="text-uppercase text-center mb-5" data-aos="fade-up" data-aos-delay="1000">
              Frequently Asked Questions
            </h2>
            <hr class="bg-secondary">
            <div class="row">
              <div class="panel">
                <div class="panel-body">
                  <h3 class="text-center text-default" data-aos="fade-left" data-aos-delay="500">If you would like to know more about us, below are some frequently asked question.
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
      <div class="downArrow bounce">
        <i class="text-dark fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
      </div>
    </section>
    <!-- FAQ Section-->
    <section>
      <div class="container">
        <!-- wordPress installation-->
        <header class="section header mb-5">
          <h2>Have a question?</h2>
          <p class="lead">Find your question below or search for any frequently asked questions in our batabase.</p>
        </header>
        <div class="row">
          <div class="col-lg-8">
            <div class="accordion pb-5">
              <!-- question-->
              <div class="card bg-light mb-2" *ngFor="let faq of faqList; let i = index;">
                <div class="card-header">
                  <h4 class="mb-0 accordion-heading bg-primary">
                    <button (click)="toggleFaqContainer(i)" class="btn btn-link text-white"><i class="icon-light-bulb fa-2x"></i><span class="lead">{{faq?.query}}</span><i class="pull-right fa ml-4" [ngClass]="faq.show === 'hide' ? 'fa-chevron-right fadeIn':'fa-chevron-down fadeIn'"></i></button>
                  </h4>
                </div>
                <div [hidden]="faq.show === 'hide'" class="animated" [ngClass]="faq.show === 'hide' ? 'fadeOut':'fadeIn show'">
                  <div class="text-dark card-body py-4" [innerHTML]="faq?.answer?.content"></div>
                  <!-- <div class="card-footer" *ngIf="faq?.answer?.links?.length">
                    <button class="btn btn-outline-secondary" (click)="navigateTo(faq.answer.links[0])">Possible Solution</button>
                  </div> -->
                </div>
              </div>

            </div>
            <!-- troubleshooting-->
            <!-- <header class="section-header text-left mb-5 mt-5">
              <h2 class="mt-5">Troubleshooting</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </header> -->

          </div>
          <!-- sidebar-->
          <aside class="sidebar col-lg-4 mt-5 mt-lg-0">
            <div class="search mb-4">
              <form action="#" class="search-form">
                <div class="input-group">
                  <input type="search" name="search" placeholder="Search" class="form-control">
                  <div class="input-group-addon">
                    <button class="btn btn-primary"> <i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="sidebar-widget mb-4">
              <h4 class="sidebar-widget-heading">Questions Categories</h4>
              <ul class="list-unstyled pl-0 mt-4">
                <li> <a href="#" class="categories-link">PPE Certification</a></li>
                <li><a href="#" class="categories-link">Troubleshooting</a></li>
                <li><a href="#" class="categories-link">Pricing &amp; Support</a></li>
                <li><a href="#" class="categories-link">SDOSB &amp; SDVOSB</a></li>
                <li><a href="#" class="categories-link">Refund Policy</a></li>
              </ul>
            </div>
            <div class="sidebar-widget">
              <h4 class="sidebar-widget-heading">New Tags</h4>
              <ul class="list-inline pl-0 mt-4">
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Medical Solutions</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Telemedicine</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">PPE</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Pricing</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">Payment Methods</a></li>
                <li class="list-inline-item mr-0"><a href="#" class="tag-link">PPE Bundles</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </section>
