<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="footer-logo">MED-TEL</div>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5 class="footer-heading">Site pages</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Home</a></li>
          <li><a href="#" class="footer-link">FAQ</a></li>
          <li><a href="#" class="footer-link">Contact</a></li>
          <li><a href="#" class="footer-link">About</a></li>
        </ul>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5 class="footer-heading">Product</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Why Med-Tel?</a></li>
          <li><a href="#" class="footer-link">Agents</a></li>
          <li><a href="#" class="footer-link">Blog</a></li>
          <li><a href="#" class="footer-link">Pricing</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="footer-heading">Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Community</a></li>
          <li><a href="#" class="footer-link">Help Center</a></li>
          <li><a href="#" class="footer-link">Guides</a></li>
          <li><a href="#" class="footer-link">Partners</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left">
          <p class="copyrights-text mb-3 mb-lg-0">
            &copy; All rights reserved. Global Technology Services Design by
            <a href="" class="external footer-link">JFlynn Designs </a>
          </p>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="list-inline social mb-0">
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-facebook"></i></a
              ><a href="#" class="social-link"><i class="fa fa-twitter"></i></a
              ><a href="#" class="social-link"
                ><i class="fa fa-youtube-play"></i></a
              ><a href="#" class="social-link"><i class="fa fa-vimeo"></i></a
              ><a href="#" class="social-link"
                ><i class="fa fa-pinterest"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
