<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="footer-logo">
          <app-brand-button
            #brandButton
            [height]="'35px'"
            [width]="'180px'"
            [primaryColor]="'#E7475E'"
            [secondaryColor]="'#007BFF'"
          ></app-brand-button>
        </div>
        <div class="footer-link">
          <p><em>Disabled Veteran Owned</em></p>
        </div>
        <div class="footer-link">
          <p><em>Division of Global Technology Services, LLC</em></p>
        </div>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5 class="footer-heading">Site pages</h5>
        <ul class="list-unstyled">
          <li (click)="brandButton.navigateTo('home')" class="footer-link">
            Home
          </li>
          <li (click)="brandButton.navigateTo('faq')" class="footer-link">
            FAQ
          </li>
          <li (click)="brandButton.navigateTo('contact')" class="footer-link">
            Contact
          </li>
          <li (click)="brandButton.navigateTo('about')" class="footer-link">
            About
          </li>
        </ul>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5 class="footer-heading">Product</h5>
        <ul class="list-unstyled">
          <li (click)="brandButton.navigateTo('faq')" class="footer-link">
            Why MedTelPlus?
          </li>
          <li (click)="brandButton.navigateTo('contact')" class="footer-link">
            Agents
          </li>
          <li (click)="brandButton.navigateTo('faq')" class="footer-link">
            Blog
          </li>
          <li (click)="brandButton.navigateTo('store')" class="footer-link">
            Pricing
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="footer-heading">Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Community</a></li>
          <li><a href="#" class="footer-link">Help Center</a></li>
          <li><a href="#" class="footer-link">Guides</a></li>
          <li><a href="#" class="footer-link">Partners</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left">
          <p class="copyrights-text mb-3 mb-lg-0">
            &copy; All rights reserved. MedTelPlus 2019
          </p>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="list-inline social mb-0">
            <li class="list-inline-item">
              <a href="https://facebook.com/medtelplus" class="social-link"><i class="fa fa-facebook"></i></a
              ><a href="https://twitter.com/medtelpus" class="social-link"><i class="fa fa-twitter"></i></a
              ><a href="#" class="social-link"
                ><i class="fa fa-youtube-play"></i></a
              ><a href="#" class="social-link"><i class="fa fa-vimeo"></i></a
              ><a href="#" class="social-link"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
