<section class="pt-5 mt-5 pb-4">
  <div class="p-4 text-center">
    <h1>Checkout</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <app-user-cart #userCart [isCheckout]="true"></app-user-cart>
      </div>
      <div class="col-md-6 order-md-1">
        <h4 class="mb-1">Billing Details</h4>
        <div class="fadeIn animated" id="collapseShippingAddress">
          <form name="shippingAddress" class="needs-validation">
            <p class="text-muted mb-3">(<b class="text-danger">*</b>) Indicates a Required Field</p>
            <div class="mb-3">
              <label for="fullName">Full Name(<b class="text-danger">*</b>)</label>
              <input [(ngModel)]="shippingAddress.address.name" type="text" class="form-control" id="fullName"
                name="fullName" placeholder="Full Name" required>
              <div class="invalid-feedback">
                Valid full name is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input [(ngModel)]="shippingAddress.email" type="email" class="form-control" id="email" name="email"
                placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address(<b class="text-danger">*</b>)</label>
              <input [(ngModel)]="shippingAddress.address.address_line1" type="text" class="form-control" id="address"
                name="street" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input [(ngModel)]="shippingAddress.address.address_line2" type="text" class="form-control" id="address2"
                name="aptOrNumber" placeholder="Apartment or suite">
            </div>
            <div class="mb-3">
              <label for="city">City(<b class="text-danger">*</b>)</label>
              <input [(ngModel)]="shippingAddress.address.address_city" type="text" class="form-control"
                placeholder="City" name="city" id="city" required>
            </div>
            <div class="mb-3">
              <label for="state">State(<b class="text-danger">*</b>)</label>
              <select class="form-control p-0" [(ngModel)]="shippingAddress.address.address_state" name="state"
                id="state" required>
                <option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="city">Zipcode(<b class="text-danger">*</b>)</label>
              <input [(ngModel)]="shippingAddress.address.address_zip" type="text" max="5" class="form-control"
                placeholder="City or Province" name="zipcode" id="cityzipcode" required>
            </div>
            <hr>
            <button class="btn btn-primary" (click)="addShippingAddress(shippingAddress)">Save</button>
          </form>

          <div class="m-auto" *ngIf="cart?.items?.length">
            <hr>
            <h4 class="mb-3">Payment</h4>
            <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
            <ngx-stripe-card #stripeElement [options]="cardOptions"
              [elementTypes]="['cardNumber', 'cardExpiry', 'cardCvc', 'postalCode']" [elementsOptions]="cardOptions"
              (change)="cardUpdated($event)" (error)="error = $event"></ngx-stripe-card>
            <div class="error">
              {{error?.message}}
            </div>
            <!-- <button (click)="payNow()" [disabled]="!complete">Pay</button> -->
            <button (click)="getCardToken()" [disabled]="!complete">Get Card Token</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Billing Details">
          <ng-template ngbPanelContent>
            Content1
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Title2">
          <ng-template ngbPanelContent>
            Content2
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</section>