<div
  *ngIf="loggedIn"
  class="card"
  [hidden]="!showToaster"
  style="position: fixed; top: 75vh; right: 32px; z-index: 2000;"
>
  <div class="card-header bg-primary">
    New
    <button
      class="btn btn-link pull-right text-light pr-0"
      (click)="toggleToaster()"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="card-body">
    <h4 class="card-title">Item Added To Cart!</h4>
    <p class="card-text">
      Click on the shopping bag in the navbar to see your cart
    </p>
  </div>
</div>
<div class="row">
  <div
    class="col-sm-12 col-md-6 col-lg-4 p-b-50"
    *ngFor="let item of productList"
  >
    <!-- Block2 -->
    <div class="block2 border-bottom border-left border-right">
      <div
        class="block2-img wrap-pic-w of-hidden pos-relative"
        [ngClass]="getItemTagClass((item?.tags)[0])"
      >
        <img [src]="item?.imgUrl" alt="IMG-PRODUCT" class="img-fluid" />
        <span
          class="badge badge-default m-auto pr-2"
          *ngFor="let cat of item?.category"
          >{{ cat }}</span
        >
        <div
          class="block2-overlay trans-0-4 hvr hvr-sweep-to-top hvr-slow active"
          *ngIf="loggedIn"
        >
          <button
            class="block2-btn-addwishlist trans-0-4"
            (click)="addToWishList(item.productId)"
          >
            <i class="fa fa-heart icon_heart_alt" aria-hidden="true"></i>
            <i class="fa fa-heart-o icon_heart dis-none" aria-hidden="true"></i>
          </button>

          <div class="block2-btn-addcart w-size12">
            <!-- Button -->
            <button
              *ngIf="loggedIn || !userCart?.items?.includes(item.productId)"
              (click)="addToCart(item.productId)"
              class="btn btn-secondary"
            >
              Add to Cart
            </button>
          </div>
        </div>
        <div
          class="block2-overlay trans-0-4 hvr hvr-sweep-to-top hvr-slow active"
          [hidden]="loggedIn"
        >
          <div class="block2-btn-addcart w-size12">
            <!-- Button -->
            <button class="btn btn-secondary">
              Create Account
            </button>
          </div>
        </div>
      </div>

      <div
        class="card-footer text-center"
        style="border-top: dashed 1px rgba(0,0,0,.23);"
      >
        <button
          (click)="selectProduct(item.productId)"
          class="btn btn-link hvr hvr-sweep-to-right"
        >
          {{ item?.productName }}
        </button>
        <span
          disabled
          class="badge badge-secondary"
          (click)="selectProduct(item.productId)"
        >
          ${{ item?.price }}
        </span>
      </div>
    </div>
  </div>
</div>
