<div
  class="card"
  [hidden]="!showToaster"
  style="position: fixed; top: 75vh; right: 32px; z-index: 2000;"
>
  <div class="card-header bg-primary">
    New
    <button
      class="btn btn-link pull-right text-light pr-0"
      (click)="toggleToaster()"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="card-body">
    <h4 class="card-title">Item Added To Cart!</h4>
    <p class="card-text">
      Click on the shopping bag in the navbar to see your cart
    </p>
  </div>
</div>
<div class="row">
  <div
    class="col-sm-12 col-md-6 col-lg-4 p-b-16"
    *ngFor="let item of productList"
  >
    <!-- Block2 -->
    <div class="block2 border-bottom border-left border-right">
      <div
        class="block2-img wrap-pic-w of-hidden pos-relative"
        [ngClass]="getItemTagClass((item?.tags)[0])"
      >
        <img [src]="item?.imgUrl" alt="IMG-PRODUCT" class="img-fluid" />
        <span
          class="badge badge-default m-auto pr-2"
          *ngFor="let cat of item?.category"
          >{{ cat }}</span
        >
        <div class="block2-overlay trans-0-4 hvr hvr-sweep-to-top hvr-slow">
          <div class="block2-btn-addcart w-size12">
            <!-- Button -->
            <button
              *ngIf="!userCart?.items?.includes(item.productId)"
              (click)="addToCart(item.productId)"
              class="btn btn-outline-light"
            >
              Add to Cart
            </button>
          </div>
          <div class="block2-caption" (click)="selectProduct(item?.productId)">
            {{ item?.productName }}
          </div>
        </div>
      </div>

      <div
        class="card-footer text-center"
        style="border-top: dashed 1px rgba(0,0,0,.23);"
      >
        <span class="lead text-dark" (click)="selectProduct(item.productId)">
          ${{ item?.price }}
        </span>
      </div>
    </div>
  </div>
</div>
