service cloud.firestore {
  match /databases/{database}/documents {

    match /transactions/{transaction} {
      allow read, write, update;
    }

    match /contacts/{contact} {
      allow write;
    }

    match /subscribers/{subscriber} {
      allow write;
    }
  }

}
