<!-- Content page -->
<section #section class="bgwhite" id="storeSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card leftbar border-0" data-aos="page-nav-sticky" data-aos-offset="1100">
          <div class="card-header border-top bg-transparent">
            <h4 class="card-title pt-0">
              Categories
            </h4>
          </div>
          <div class="card-body">
            <button (click)="sortProducts('all')" class="hvr hvr-sweep-to-right btn btn-block nav-link">
              All
            </button>

            <button (click)="sortProducts('gummies')" class="hvr hvr-sweep-to-right btn btn-block nav-link">
              Gummies
            </button>
            <button (click)="sortProducts('hard-candy')" class="hvr hvr-sweep-to-right btn btn-block nav-link">
              Hard Candy
            </button>
            <hr>
            <small class="ml-3 text-danger">Available soon</small>
            <button (click)="sortProducts('telemedicine')" class="btn btn-block nav-link" disabled>
              TeleMedicine
            </button>

            <button (click)="sortProducts('accessories')" class="btn btn-block nav-link" disabled>
              Accessories
            </button>
          </div>

          <!-- <app-product-filter></app-product-filter> -->
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9 p-b-4">
        <!--  -->
        <!-- <div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting" style="width: 100%;">
									<option>Default Sorting</option>
									<option>Popularity</option>
									<option>Price: low to high</option>
									<option>Price: high to low</option>
								</select>
							</div>

							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting" style="width: 100%;">
									<option>Price</option>
									<option>$0.00 - $50.00</option>
									<option>$50.00 - $100.00</option>
									<option>$100.00 - $150.00</option>
									<option>$150.00 - $200.00</option>
									<option>$200.00+</option>

								</select>
							</div>
						</div>

						<span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span>
					</div> -->
        <!-- <router-outlet></router-outlet> -->
        <!-- Products Component -->
        <app-product-list [userCart]="cart" [productList]="productList"
          (productSelected)="productSelected($event, product)" (addedToCart)="addToCart($event)"></app-product-list>
        <hr />
        <div class="card-footer d-flex justify-content-end" *ngIf="cart?.items?.length">
          <button class="btn btn-primary mr-1" (click)="navigateTo()">
            Checkout <i class="fa fa-check"></i>
          </button>
          <button class="btn btn-secondary ml-1" (click)="clearCart()">
            Clear Cart <i class="fa fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #product let-modal class="product-details-modal large-modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-product-title">
      {{ selectedProduct.productName }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <app-product-details [product]="selectedProduct" class="card-body"></app-product-details>
  </div>
  <div class="modal-footer">
    <button (click)="addToCart(selectedProduct.productId)" type="button" class="btn btn-primary">
      Add To Cart
    </button>
    <button aria-label="Close" (click)="modal.dismiss('Close click')" type="button" class="btn btn-secondary-outline"
      data-dismiss="modal">
      Close
    </button>
  </div>
</ng-template>