<!-- Content page -->
<section #section class="bgwhite" id="storeSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div
          class="card leftbar border-0"
          data-aos="page-nav-sticky"
          data-aos-offset="1100"
        >
          <div class="card-header bg-transparent">
            <h4 class="card-title pt-0">
              Categories
            </h4>
          </div>
          <div class="card-body">
            <button
              (click)="sortProducts('all')"
              class="hvr hvr-sweep-to-right btn btn-block nav-link"
            >
              All
            </button>

            <button
              (click)="sortProducts('devices')"
              class="hvr hvr-sweep-to-right btn btn-block nav-link"
            >
              Devices
            </button>

            <button
              disabled
              (click)="sortProducts('cancer-screening')"
              class="hvr hvr-sweep-to-right btn btn-block nav-link"
            >
              CancerScreening
            </button>

            <button
              (click)="sortProducts('telemedicine')"
              class="hvr hvr-sweep-to-right btn btn-block nav-link"
            >
              TeleMedicine
            </button>

            <button
              (click)="sortProducts('accessories')"
              class="hvr hvr-sweep-to-right btn btn-block nav-link"
            >
              Accessories
            </button>
          </div>

          <!-- <app-product-filter></app-product-filter> -->
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9 p-b-50">
        <!--  -->
        <!-- <div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting" style="width: 100%;">
									<option>Default Sorting</option>
									<option>Popularity</option>
									<option>Price: low to high</option>
									<option>Price: high to low</option>
								</select>
							</div>

							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting" style="width: 100%;">
									<option>Price</option>
									<option>$0.00 - $50.00</option>
									<option>$50.00 - $100.00</option>
									<option>$100.00 - $150.00</option>
									<option>$150.00 - $200.00</option>
									<option>$200.00+</option>

								</select>
							</div>
						</div>

						<span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span>
					</div> -->

        <!-- Products Component -->
        <app-product-list
          [userCart]="user?.cart"
          [productList]="productList"
          [loggedIn]="loggedIn | async"
          (productSelected)="productSelected($event, product)"
          (addedToCart)="addToCart($event)"
          (addedToWishList)="addToWishList($event, user.wishList)"
        ></app-product-list>
      </div>
    </div>
  </div>
</section>

<ng-template #product let-modal class="product-details-modal large-modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-product-title">
      {{ selectedProduct.productName }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <app-product-details
      [product]="selectedProduct"
      class=""
    ></app-product-details>
  </div>
  <div class="modal-footer">
    <button
      aria-label="Close"
      (click)="modal.dismiss('Close click')"
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >
      Close
    </button>
    <button
      [disabled]="!(loggedIn | async)"
      (click)="addToCart(selectedProduct.productId)"
      type="button"
      class="btn btn-primary"
    >
      Add To Cart
    </button>
  </div>
</ng-template>
