<!-- Content page -->
<section #section class="bgwhite" id="storeSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 p-b-50">
        <div class="leftbar p-r-20 p-r-0-sm animate" data-aos="page-nav-sticky">
          <h4 class="m-text14 p-b-7 pt-sm-2">
            Categories
          </h4>

          <ul class="p-b-54">
            <li class="p-t-4">
              <button (click)="sortProducts('all')" class="s-text13">
                All
              </button>
            </li>

            <li class="p-t-4">
              <button (click)="sortProducts('devices')" class="s-text13">
                Devices
              </button>
            </li>

            <li class="p-t-4">
              <button
                (click)="sortProducts('cancer-screening')"
                class="s-text13"
              >
                CancerScreening
              </button>
            </li>

            <li class="p-t-4">
              <button (click)="sortProducts('telemedicine')" class="s-text13">
                TeleMedicine
              </button>
            </li>

            <li class="p-t-4">
              <button (click)="sortProducts('accessories')" class="s-text13">
                Accessories
              </button>
            </li>
          </ul>

          <!-- <app-product-filter></app-product-filter> -->
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9 p-b-50">
        <!--  -->
        <!-- <div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting" style="width: 100%;">
									<option>Default Sorting</option>
									<option>Popularity</option>
									<option>Price: low to high</option>
									<option>Price: high to low</option>
								</select>
							</div>

							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting" style="width: 100%;">
									<option>Price</option>
									<option>$0.00 - $50.00</option>
									<option>$50.00 - $100.00</option>
									<option>$100.00 - $150.00</option>
									<option>$150.00 - $200.00</option>
									<option>$200.00+</option>

								</select>
							</div>
						</div>

						<span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span>
					</div> -->

        <!-- Products Component -->
        <app-product-list
        [userCart]="user?.cart"
          [productList]="productList"
          [loggedIn]="authService.loggedIn"
          (productSelected)="productSelected($event, product)"
          (addedToCart)="addToCart($event)"
          (addedToWishList)="addToWishList($event, user.wishList)"
        ></app-product-list>
      </div>
    </div>
  </div>
</section>

<ng-template #product let-modal class="product-details-modal large-modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-product-title">
      {{ selectedProduct.productName }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <app-product-details
      [product]="selectedProduct"
      class=""
    ></app-product-details>
  </div>
  <div class="modal-footer">
    <button
      aria-label="Close"
      (click)="modal.dismiss('Close click')"
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >
      Close
    </button>
    <button
      (click)="addToCart(selectedProduct.productId)"
      type="button"
      class="btn btn-primary"
    >
      Add To Cart
    </button>
  </div>
</ng-template>
