<section
  class="hero"
  #hero
  style="background-image: url(assets/images/about-bg.jpg);"
>
  <div class="container text-center">
    <nav aria-label="breadcrumb" class="d-flex justify-content-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="" class="animsition-link">Home</a>
        </li>
        <li aria-current="page" class="breadcrumb-item active">About</li>
      </ol>
    </nav>
    <h1 class="hero-heading">About MedTelPlus</h1>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="lead">
          This is the lead paragraph of the article. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Vestibulum tortor quam, feugiat vitae, ultricies eget.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="downArrow bounce">
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="lead text-muted mb-5">
          <strong>MedTelPlus cares</strong> about our clients and customers.
          Whether you are recieving continued telecare services or have made a
          one-time medical device purchase, MedTelPlus has your health and
          peace-of-mind at the top of our priorities. In a world where many
          services are a Google Search away, MedTelPlus knows how to exceed your
          expectations, and leaves no question about who is number one in
          Telecare and overall customer satisfaction.
          <img src="" alt="" />
        </p>
        <h2 class="mb-3">Our Promise To Customers</h2>
        <ol class="mb-5 text-left">
          <li>
            Offer the best and most reliable Telecare services and products.
          </li>
          <li>
            Leave every person who chooses MedTelPlus happy beyond their
            expectations.
          </li>
          <li>
            Continue to add and improve our Telecare services and products using
            all provided feedback.
          </li>
        </ol>
        <blockquote class="blockquote mb-5 text-left">
          IF you have any feedback for MedTelPlus, please send us a message
          <span>
            <a href="mailto:info@medtelplus.com" class="btn btn-outline-primary">
              <i class="fa fa-envelope"></i>
            </a>
          </span>
        </blockquote>
        <h3 class="mb-5">MedTelPlus Genesis</h3>
        <p class="mb-5">
          As a new company, <strong class="text-primary">MedTelPlus</strong> has
          had to work very hard on gaining the trust of our clients and
          customers. We appreciate all of the wonderful people who choose
          <strong class="text-primary">MedTelPlus</strong> services and
          products. Our Founder and CEO,
          <strong class="text-primary">Kevin Szkolnik</strong>, knows
          first-hand, why having access to fast, quality healthcare is so
          important. <br />
          <br/>
          While serving in the US Navy, Kevin learned that hard work, a
          positive perspective, and the desire to give to those who need,
          could help him find the answers to many of lifes problems.<br />
          As a
          <a href="https://www.dav.org/" target="_blank">Disabled Veteran</a>,
          Kevin has seen his fair share of mediocre medical services,
          under-trained, under-motivated medical staff, and people in dire need
          of affordable healthcare (with an emphasis on the 'CARE'); So Kevin
          took everything he had learned while serving his country and applied
          it to his business-model when building MedTelPlus.
        </p>
        <h3 class="mb-5">What Services MedTelPlus Offers</h3>
        <ul class="mb-4 text-left">
          <li>Medical Alert Devices</li>
          <li>
            TeleMedicine: Personalized access to Doctors and Healthcare
            Proffesionals by phone and video
          </li>
          <li>CGX CancerScreening and Genetic Counseling</li>
          <li>Superior quality and genuine empathy for all of our users</li>
        </ul>
        <!-- <p><img src="assets/img/blog1.jpg" alt="..." class="img-fluid" /></p> -->
        <p class="mt-5">
          <strong class="text-primary">MedTelPlus</strong> and its devisions are
          dedicated to providing reliable Healthcare services and products. Our
          mission is to exceed all customer expectations while continuing to
          grow. <strong class="text-primary">MedTelPlus</strong> is active in
          our community, and continues to give back to show our appreciation for
          all the support <strong class="text-primary">MedTelPlus</strong> has
          recieved. Thanks to you all!
        </p>
      </div>
    </div>
  </div>
</section>
