<nav
  #nav
  class="navbar navbar-nav"
  data-aos="fixed-header"
  data-aos-offset="1200"
>
  <div class="container d-inline-flex">
    <!-- Navbar Menu Toggle -->
    <div
      id="nav-icon1"
      (click)="toggleMobileMenu()"
      [ngClass]="!hideMobileMenu ? 'open' : ''"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar-brand mr-auto pr-2">
      <app-brand-button
        id="brand-button"
        [height]="'35px'"
        [width]="'180px'"
        [logoHidden]="nav.clientWidth < 420"
        [showOnInit]="true"
      ></app-brand-button>
    </div>
    <div
      class="form-group form-inline mb-0 mr-2"
      [hidden]="nav.clientWidth < 760"
    >
      <input
        type="text"
        placeholder="Search"
        class="w-full form-control"
        name="queryString"
        [(ngModel)]="query"
        [ngbTypeahead]="search"
      />
      <div class="input-group-addon">
        <button class="btn btn-primary text-light border-0 outline-">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <!-- Navbar Cart Button -->
    <button
      *ngIf="navCart?.items?.length"
      class="btn btn-link p-0 mr-2"
      (click)="navigateTo('/cart')"
    >
      <span class="header-icons-noti">{{ navCart?.items?.length || 0 }}</span>
      <img
        src="assets/images/icons/icon-header-03.png"
        width="30"
        height="30"
        alt=""
        class="header-icon1"
      />
    </button>
  </div>
</nav>

<!-- Global Page Loader -->
<app-loader #loader></app-loader>
