<!-- navbar-->
<nav #nav class="navbar navbar-expand-md animate fadeInDown" data-aos="fixed-header" data-aos-offset="1200">
  <div class="container">
    <!-- Nav Logo -->
    <button style="width: auto;" class="btn-link btn navbar-brand pr-0 pl-0" (click)="navigateTo('/')">
      <img src="assets/images/logo_full.svg" width="120" style="" class="" alt="" />
    </button>
    <!-- Nav Menu Buttons -->
    <div class="d-inline-flex">
      <!-- Nav Handset Menu -->
      <div *ngIf="(loggedIn | async) && nav.clientWidth < 760">
        <!-- Nav Auth Menu -->
        <button #userMenuButton (click)="toggleUserMenu()" class="ml-0 btn btn-sm text-black" type="button">
          <i class="fa fa-gear header-icon1 fa-2x"></i>
        </button>
        <div class="dropdown d-inline-block">
          <div class="dropdown-menu mt-1 animated slow" [style.display]="userMenu ? 'inline-block': 'none'"
            [ngClass]="userMenu ? 'slideInLeft':'slideOutRight'">
            <button class="dropdown-item" (click)="navigateTo('/account')">
              <i class="fa fa-lock"></i> Account Settings
            </button>
            <button class="dropdown-item" (click)="navigateTo('/account')">
              <i class="fa fa-shopping-cart"></i> Purchase History
            </button>
            <button class="dropdown-item" (click)="signOut()">
              <i class="fa fa-sign-out"></i> SignOut
            </button>
          </div>
        </div>
        <button class="btn btn-link p-1" (click)="navigateTo('/cart')">
          <span class="header-icons-noti">{{navCart?.items?.length || 0}}</span>
          <img src="assets/images/icons/icon-header-02.png" alt="" class="header-icon1" />
        </button>
      </div>
      <!-- Nav Fullscreen Menu -->
      <div class="dropdown ml-md-2" *ngIf="!(loggedIn | async) && nav.clientWidth < 760">
        <button (click)="toggleLoginMenu()" class="ml-0 btn btn-sm p-0" type="button">
          <i class="header-icon1 fa fa-user-circle fa-2x"></i>
        </button>
        <div class="dropdown-menu" [style.display]="!(hideLoginMenu | async) ? 'inline-block' : 'none'"
          aria-labelledby="triggerId">
          <button class="dropdown-item" (click)="openLoginModal(content, 'login')">
            <i class="fa fa-lock"></i> SignIn
          </button>
          <button class="dropdown-item" (click)="openLoginModal(content, 'register')">
            <i class="fa fa-user-plus"></i> SignUp
          </button>
        </div>
      </div>
      <!-- Nav Handset Menu Toggle -->
      <button type="button" (click)="toggleMobileMenu()" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" class="navbar-toggler">
        <i style="font-size: 1.25em" class="fa fa-bars ml-2"></i>
      </button>

    </div>
    <!-- Nav Collapsable Menu -->
    <div id="navbarSupportedContent" class="navbar-collapse" [ngClass]="hideMobileMenu ? 'collapse' : ''">
      <ul class="navbar-nav ml-auto">
        <!-- Link-->
        <li class="nav-item">
          <button (click)="navigateTo('home')" class="btn btn-link nav-link">
            Home
          </button>
        </li>
        <!-- Link-->
        <li class="nav-item">
          <button (click)="navigateTo('faq')" class="btn btn-link nav-link">
            Faq
          </button>
        </li>
        <!-- Link-->
        <li class="nav-item">
          <button (click)="navigateTo('contact')" class="btn btn-link nav-link">
            Contact
          </button>
        </li>
        <!-- Link-->
        <li class="nav-item">
          <button (click)="navigateTo('about')" class="btn btn-link nav-link">
            About
          </button>
        </li>
        <li class="nav-item">
          <button (click)="navigateTo('store')" class="btn btn-link nav-link">
            Store
          </button>
        </li>
      </ul>
      <!-- Nav Collapsed Guest Menu -->
      <div class="dropdown ml-md-2" *ngIf="!(loggedIn | async) && nav.clientWidth > 760">
        <button (click)="toggleLoginMenu()" class="ml-0 btn btn-sm p-0" type="button">
          <i class="header-icon1 fa fa-user-circle fa-2x"></i>
        </button>
        <div class="dropdown-menu" [style.display]="!(hideLoginMenu | async) ? 'inline-block' : 'none'"
          aria-labelledby="triggerId">
          <button class="dropdown-item" (click)="openLoginModal(content, 'login')">
            <i class="fa fa-lock"></i> SignIn
          </button>
          <button class="dropdown-item" (click)="openLoginModal(content, 'register')">
            <i class="fa fa-user-plus"></i> SignUp
          </button>
        </div>
      </div>
      <!-- Nav Collapsed Auth Menu -->
      <div *ngIf="loggedIn | async" [hidden]="nav.clientWidth < 760">
        <div class="dropdown d-inline-block">
          <button #userMenuButton (click)="toggleUserMenu()" class="ml-0 btn btn-sm text-black p-1" type="button">
            <i class="text-black fa fa-gear header-icon1 fa-2x"></i>
          </button>
          <div class="dropdown-menu mt-1 animated slow" [style.display]="userMenu ? 'inline-block': 'none'"
            [ngClass]="userMenu ? 'slideInLeft':'slideOutRight'">
            <button class="dropdown-item" (click)="navigateTo('/account')">
              <i class="fa fa-lock"></i> Account Settings
            </button>
            <button class="dropdown-item" (click)="navigateTo('/account')">
              <i class="fa fa-shopping-cart"></i> Purchase History
            </button>
            <button class="dropdown-item" (click)="signOut()">
              <i class="fa fa-sign-out"></i> SignOut
            </button>
          </div>
        </div>
        <!-- Nav Collapsed Cart Button -->
        <button class="btn btn-link p-1" (click)="navigateTo('/cart')">
          <span class="header-icons-noti">{{navCart?.items?.length || 0}}</span>
          <img src="assets/images/icons/icon-header-02.png" alt="" class="header-icon1" />
        </button>
      </div>
    </div>
  </div>
</nav>
<!-- User Login and Registration Modal -->
<ng-template #content let-modal>
  <div [ngSwitch]="status">
    <!-- User Login -->
    <div *ngSwitchCase="'login'">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-login-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please login with email and password</p>
        <form class="text-left">
          <div class="form-group mb-4">
            <label>Email<sup class="text-primary">&#10033;</sup></label>
            <input #email type="email" name="email" placeholder="Email" class="form-control" />
          </div>
          <div class="form-group mb-4">
            <label>Password<sup class="text-primary">&#10033;</sup></label>
            <input #password type="password" name="password" placeholder="Password" class="form-control" />
          </div>
        </form>
        <div class="container m-auto">
          <div class="row">
            <div class="col-12">
              <h5 class="lead text-center text-black-50 m-3">
                One click Login with <br />
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6" title="Google Login">
              <button class="btn btn-block btn-danger m-auto" (click)="googleLogin()">
                <i class="fa fa-google"></i>
              </button>
            </div>
            <div class="col-6" title="Facebook Login">
              <button class="btn btn-block btn-info m-auto">
                <i class="fa fa-facebook"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="modal.close('Close click')">
          Cancel
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="login(email.value, password.value)">
          SignIn
        </button>
      </div>
    </div>
    <div *ngSwitchDefault>
      <!-- User Registration -->
      <div class="modal-header">
        <h4 class="modal-title" id="modal-login-title">Register</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please register with email and password</p>
        <form class="text-left">
          <div class="form-group mb-4">
            <label>Name<sup class="text-primary">&#10033;</sup></label>
            <input #name type="text" name="name" placeholder="e.g. John Smith" class="form-control" />
          </div>
          <div class="form-group mb-4">
            <label>Email<sup class="text-primary">&#10033;</sup></label>
            <input #email type="email" name="email" placeholder="Email" class="form-control" />
          </div>
          <div class="form-group mb-4">
            <label>Password<sup class="text-primary">&#10033;</sup></label>
            <input #password type="password" name="password" placeholder="Password" class="form-control" />
          </div>
          <div class="form-group mb-4">
            <label>Confirm Password<sup class="text-primary">&#10033;</sup></label>
            <input #password2 type="password" name="password2" placeholder="Re-enter Password" class="form-control" />
          </div>
        </form>
        <div class="container m-auto">
          <div class="row">
            <div class="col-12">
              <h5 class="lead text-center text-black-50 m-3">
                One click Login with <br />
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6" title="Google Login">
              <button class="btn btn-block btn-danger m-auto" (click)="googleLogin()">
                <i class="fa fa-google"></i>
              </button>
            </div>
            <div class="col-6" title="Facebook Login">
              <button class="btn btn-block btn-info m-auto">
                <i class="fa fa-facebook"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="modal.close('Close click')">
          Cancel
        </button>
        <button [disabled]="password.value !== password2.value" type="button" class="btn btn-outline-primary"
          (click)="createAccount(name.value, email.value, password.value)">
          SignUp
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!-- Global Page Loader -->
<app-loader #loader></app-loader>