<div class="purchase-history-container">
  <div class="mb-3">
    <div class="p4" *ngIf="!historyLength">
      You have no purchase history
    </div>
    <ngb-accordion
      *ngIf="historyLength"
      #acc="ngbAccordion"
      [closeOthers]="true"
      activeIds="shortList"
    >
      <ngb-panel title="Most Recent" id="shortList">
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              *ngFor="let item of history; let i = index"
            >
              {{ item }}
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="All" id="longList">
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Declined" id="declined" *ngIf="historyFiltered">
        <ng-template ngbPanelContent>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
