<section #hero class="hero"
  style="background-image: url(assets/images/masthead/masthead-bg_1.jpg);">
  <div class="container text-center">
    <!-- breadcrumb-->
    <nav aria-label="breadcrumb" class="d-flex justify-content-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="" class="animsition-link">Home</a></li>
        <li aria-current="page" class="breadcrumb-item active">Contact </li>
      </ol>
    </nav>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 mb-5">
        <h2 class="text-uppercase text-center mb-5 animate" data-aos="fade-up" data-aos-delay="1000">
          Contact
        </h2>
        <hr class="bg-secondary">
        <div class="row">
          <div class="panel">
            <div class="panel-body">
              <h3 class="text-center text-default" data-aos="fade-left" data-aos-delay="500">We are here to help. Please fill out the form below, and a MedTelPlus representative will be in touch as quckly as possible. 
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="downArrow bounce">
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section-->
<section>
  <div class="container">
    <header class="section-header">
      <h2 class="mb-2">Fill out the form</h2>
      <p class="lead">Please submit your information and we will follow up with you as soon as possible. <br />
        <small>(<sup class="text-danger">&#10033;</sup>) Indicates a required field</small></p>
    </header>
    <div class="row align-items-center mt-5">
      <div class="col-lg-7">
        <form #contactForm="ngForm" name="contactForm" class="contact-form text-left">
          <div class="form-group mb-4">
            <label>Name<sup class="text-danger">&#10033;</sup></label>
            <input [(ngModel)]="contact.name" #name="ngModel" type="text" name="name" minLength="3" maxLength="30"
              placeholder="e.g. John Smith" class="form-control" required>
            <p class="form-text text-danger" *ngIf="name.errors && (name.touched || name.dirty)">
              Your Full Name is Required
            </p>
          </div>
          <div class="form-group mb-4">
            <label>Email<sup class="text-danger">&#10033;</sup></label>
            <input [(ngModel)]="contact.email" #email="ngModel" type="email"
              name="email" placeholder="you@email.com" [pattern]="'[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+'" class="form-control" required>
            <p class="form-text text-danger" *ngIf="email?.errors?.required && (email.touched || email.dirty)">
              Your Email is Required
            </p>
            <p class="form-text text-danger" *ngIf="email?.errors?.pattern && (email.touched || email.dirty)">
              Your Email is Not Valid
            </p>
          </div>
          <div class="form-group mb-4">
            <label>Subject<sup class="text-danger">&#10033;</sup></label>
            <input [(ngModel)]="contact.subject" #subject="ngModel" type="text" name="subject"
              placeholder="Briefly describe your question" class="form-control" required>
            <p class="form-text text-danger" *ngIf="subject?.errors && (subject.touched || subject.dirty)">
              A Subject is Required
            </p>
          </div>
          <div class="form-group mb-4">
            <label>Now let's hear the details<sup class="text-danger">&#10033;</sup></label>
            <textarea [(ngModel)]="contact.details" #details="ngModel" name="message"
              placeholder="Let us know what you need" class="form-control" required maxLength="250"></textarea>
            <p class="form-text text-danger" *ngIf="details?.errors && (details.touched || details.dirty)">
              Some Details Are Required
            </p>
          </div>
          <div class="form-group">
            <input type="button" value="Send message" class="btn btn-primary" (click)="addNewContact(contact)"
              [disabled]="contactForm?.invalid || contactForm?.errors && (contactForm.touched || !contactForm.pristine)">
          </div>
        </form>
      </div>
      <div class="col-lg-5 contact-details mt-5 mt-lg-0">
        <div class="box animate" data-aos="fade-left" data-aos-delay=".3">
          <div class="icon d-flex align-items-end"><img src="assets/img/placeholder.svg" alt="" class="img-fluid"></div>
          <h5>Address</h5>
          <p class="text-small font-weight-light">1630 E Turkey Run Drive, Newark, OH 43055</p>
        </div>
        <div class="box animate" data-aos="fade-left" data-aos-delay=".3">
          <div class="icon d-flex align-items-end"><img src="assets/img/technology.svg" alt="" class="img-fluid"></div>
          <h5>Customer Support</h5>
          <p class="text-small font-weight-light">This number is toll free for your convenience, but electronic
            communication is preferred.</p><strong class="text-muted">+1 740 405 1633</strong>
        </div>
        <div class="box animate" data-aos="fade-left" data-aos-delay=".3">
          <div class="icon d-flex align-items-end"><img src="assets/img/multimedia.svg" alt="" class="img-fluid"></div>
          <h5>Email Support</h5>
          <p class="text-small font-weight-light">Feel free to send us an email.</p>
          <ul class="text-center">
            <li><a href="mailto:info@medtelplus.com" class="text-small">info@medtelplus.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <img class="card-img" src="assets/images/phones_2-bg.jpg" alt=""> -->
  <div *ngIf="contactSaved" class="jumbotron text-xs-center bg-light m-auto animate slideInRight" style="position: fixed; height: 100%; width: 100%; top: 80px; left: 0;">
    <button class="btn btn-sm pull-right" (click)="contactSaved === false">
      <i class="fa fa-times"></i>
    </button>
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for a response from a MedTelPlus representative in the next 48 hours.</p>
    <hr>
    <p>
      Having trouble? <a href="mailto:info@medtelplus.com" class="text-small">Contact Us</a>
    </p>
    <p class="lead">
      <button class="btn btn-primary btn-sm" (click)="navigateTo('/')">Continue to homepage</button>
    </p>
  </div>
</section>