.divider {
    .divider-background-image {
        // background-size: cover;
        // -moz-background-size: cover;
        // -webkit-background-size: cover;
        background-position: center center;
        -moz-background-position: center center;
        -webkit-background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        opacity: .23;
        position: absolute;
        width: 100vw;
        max-height: 650px;
        margin: -5rem 0;
        overflow: hidden;
        z-index: 4999;

        @media (max-width: 760px) {
            width: 100vw;
        }

        @media (min-width: 991px) {
            margin: -7rem 0;
        }

    }

    .divider-body {
        width: 100vw;
        z-index: 5000 !important;
        position: absolute !important;
    }

    .btn {
        z-index: 5001 !important;
    }
}