

footer.main-footer {
    padding: 7rem 0 3rem 0;
    background-color: $gray-700;
    color: $gray-400;
}

.footer-logo {
    width: 7.5rem;
}

.footer-link {
    color: $gray-400;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.3rem 0;
    cursor: pointer !important;
}

.footer-link:hover,
.footer-link:focus {
    color: $secondary;
}

.social-link {
    color: $gray-400;
    font-size: 0.9rem;
    margin: 0 0.625rem;
}

.social-link:hover {
    color: $secondary;
}

.footer-heading {
    margin-bottom: 1.25rem;
    font-weight: 600;
}

.copyrights-text {
    font-weight: 300;
    font-size: 0.9rem;
}

.copyrights {
    margin-top: 2rem;
    padding: 1.25rem 0;
}