#sidebar-wrapper {
  min-height: calc(100vh + 64px);
  position: fixed;
  z-index: 900;
  top: 70px;
  left: 0;
  overflow-x: hidden;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.23);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.23);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;

  @media (max-width: 760px) {
    // top: 12.5%;
  }
}

#sidebar-wrapper .sidebar-heading {
  padding: 1.25rem;
  font-size: 1.2rem;

  #brand-button {
    z-index: 2002;
  }
}

#sidebar-wrapper .list-group {
  width: auto;
  cursor: pointer;

  .nav-item .btn {
    color: #FFFFFF !important;
  }
}

#page-content-wrapper {
  width: 100vw;
  overflow-x: hidden !important;
}

@media (max-width: 760px) {
  #sidebar-wrapper {
    margin-left: -100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 100vw;
    margin-left: 0;

    #sidebar-wrapper .list-group {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    width: 20rem;
    margin-left: -20rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;

  }
}
