<!-- TODO: NewsTicker expand button. onClick opens a model, panel or toaster -->

<header class="header">
  <app-navbar #navbar></app-navbar>
</header>
<div class="d-flex" id="wrapper" [ngClass]="navbar.hideMobileMenu ? '' : 'toggled'">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="">
    <div class="sidebar-heading">
      <p class="lead text-white text-uppercase">
        Menu
      </p>
    </div>
    <ul class="list-group">
      <li class="list-group-item hvr hvr-sweep-to-right" (click)="navbar.navigateTo('home')">
        <button class="btn btn-link nav-link">
          <i class="fa fa-home"></i> Home
        </button>
      </li>
      <!-- Link-->
      <li class="list-group-item hvr hvr-sweep-to-right" (click)="navbar.navigateTo('about')">
        <button class="btn btn-link nav-link">
          <i class="fa fa-list"></i> About
        </button>
      </li>
      <!-- Link-->
      <li class="list-group-item hvr hvr-sweep-to-right" (click)="navbar.navigateTo('contact')">
        <button class="btn btn-link nav-link">
          <i class="fa fa-envelope"></i> Contact
        </button>
      </li>
      <!-- Link-->
      <li class="list-group-item hvr hvr-sweep-to-right" (click)="navbar.navigateTo('faq')">
        <button class="btn btn-link nav-link">
          <i class="fa fa-info-circle"></i> Faq
        </button>
      </li>
      <!-- Link-->
      <li class="list-group-item hvr hvr-sweep-to-right border-0" (click)="navbar.navigateTo('store')">
        <button class="btn btn-link nav-link">
          <i class="fa fa-shopping-cart"></i> Store
        </button>
      </li>
      <!-- Link-->
      <a href="https://blog.medtelplus.com" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item hvr hvr-sweep-to-right">
          <button class="btn btn-link nav-link">
            <i class="fa fa-info-circle"></i> Blog
          </button>
        </li>
      </a>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <main #wrapper id="page-content-wrapper">
    <router-outlet id="mainContent"></router-outlet>
  </main>
</div>

<app-footer class="pt-4"></app-footer>
<!-- <button class="btn btn-back-to-top animate" data-aos="fade-right"></button> -->
<div class="d-none d-md-block">
  <ngx-newsticker id="messageTicker" [title]="'GST Updates'" [events]="sidebarHeaderMessages" [showCounter]="false"><i
      class="fa fa-user"></i></ngx-newsticker>
</div>
<app-toasts></app-toasts>