<!-- Product Detail -->
<div class="bgwhite p-t-35 p-b-80">
  <div class="flex-w flex-sb">
    <div class="card text-left p-0">
      <img class="card-img-top" src="{{ product.imgUrl }}" alt="" />
      <div class="card-body">
        <div class="w-size14 p-t-30 respon5">
          <h4 class="product-detail-name m-text16 p-b-13" [innerHTML]="product.caption">
            
            <span class="m-text17 pull-right"> ${{ product.price }} </span>
          </h4>

          <p class="s-text8 p-t-10">
        {{product.reviews[0]}}
          </p>

          <div class="p-b-3">
            <span class="s-text8 m-r-35">SKU#: {{ product.productId }} </span>
          </div>
          <div class="p-b-3 ">
            <span class="s-text8"
              >Categories: {{ product.options?.packages }}</span
            >
          </div>
          <div class="p-3 border-top"></div>

          <!--  -->
          <div class="collapsed-sections p-t-15">
            <h5
              class="dropdown-toggle text-primary"
              (click)="toggleCollapsed('description')"
              [attr.aria-expanded]="!collapseSections.description"
              aria-controls="collapseDescription"
            >
              Description
            </h5>
            <div id="collapseDescription" [hidden]="collapseSections.description">
              <div class="dropdown-content dis-none p-t-15 p-b-23">
                <p class="s-text8">
                  {{ product.description }}
                </p>
              </div>
            </div>
            <h5
              class="dropdown-toggle text-primary"
              (click)="toggleCollapsed('info')"
              [attr.aria-expanded]="!collapseSections.info"
              aria-controls="collapseInfo"
            >
              Additional Info
            </h5>
            <div id="collapseInfo" [hidden]="collapseSections.info">
              <div class="dropdown-content dis-none p-t-15 p-b-23">
                <p class="s-text8">
                  {{ product.additionalInformation }}
                </p>
              </div>
            </div>
            <h5
              class="dropdown-toggle text-primary"
              (click)="toggleCollapsed('reviews')"
              [attr.aria-expanded]="!collapseSections.reviews"
              aria-controls="collapseReviews"
            >
              Reviews ({{product.reviews.length}})
            </h5>
            <div id="collapseReviews" [hidden]="collapseSections.reviews">
              <div class="dropdown-content dis-none p-t-15 p-b-23">
                <p class="s-text8">
                  {{ product.description }}
                </p>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
    <!-- <div class="w-size13 p-t-30 respon5">
				<app-carousel [options]="carouselOptions" [slides]="product.imageList"></app-carousel>
			</div> -->
  </div>
</div>
