<!-- Hero Section-->
<section class="hero">
  <div class="hero-background" style=""></div>
  <div class="container mb-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6">
        <h1 class="hero-heading text-uppercase text-center mb-0">
          We have you <br />
          covered
        </h1>
        <div class="row">
          <div class="col-lg-10">
            <p class="lead text-muted text-center mt-4 mb-4">
              Get the most reliable personal medical alert system on the market.
            </p>
          </div>
        </div>
        <form action="#" class="subscription-form">
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Name@company.com"
              class="form-control"
            />
            <button type="submit" class="btn btn-primary">Get Started</button>
          </div>
        </form>
      </div>
      <!-- <div class="col-lg-6">
        <img
          src="assets/img/illustration-hero.svg"
          alt="..."
          class="hero-image img-fluid d-none d-lg-block"
        />
      </div> -->
    </div>
  </div>
</section>
<!-- Intro Section-->
<section>
  <div class="container">
    <div class="text-center">
      <h2>One Provider, Multiple Services</h2>
      <p class="lead text-muted mt-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod.
      </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto mt-5">
        <img
          src="assets/img/illustration-1.svg"
          alt="..."
          class="intro-image img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<app-divider [content]="dividers[0]"> </app-divider>
<!-- Portfolio Section-->
<section class="pb-0">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase text-bold">Shop</h2>
      <p class="lead text-muted mt-2">
        Discover all of MED-TEL Products
      </p>
    </div>
    <div class="portfolio mt-5">
      <div class="row">
        <div class="col-lg-4 p-0">
          <a
            href="assets/img/portfolio-1.jpg"
            data-lightbox="image-1"
            data-title="Some footer information"
            class="portfolio-item"
            ><img src="assets/img/portfolio-1.jpg" alt="image" class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href="assets/img/portfolio-2.jpg"
            data-lightbox="image-1"
            data-title="Some footer information"
            class="portfolio-item"
            ><img src="assets/img/portfolio-2.jpg" alt="image" class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href="assets/img/portfolio-3.jpg"
            data-lightbox="image-1"
            data-title="Some footer information"
            class="portfolio-item"
            ><img src="assets/img/portfolio-3.jpg" alt="image" class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href="assets/img/portfolio-4.jpg"
            data-lightbox="image-1"
            data-title="Some footer information"
            class="portfolio-item"
            ><img src="assets/img/portfolio-4.jpg" alt="image" class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href="assets/img/portfolio-5.jpg"
            data-lightbox="image-1"
            data-title="Some footer information"
            class="portfolio-item"
            ><img src="assets/img/portfolio-5.jpg" alt="image" class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href="assets/img/portfolio-6.jpg"
            data-lightbox="image-1"
            data-title="Some footer information"
            class="portfolio-item"
            ><img src="assets/img/portfolio-6.jpg" alt="image" class="img-fluid"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
