<!-- Hero Section-->
<!-- TODO: Hero Slider ??? -->
<section class="hero" style="background-image: url(assets/img/hero-bg.png);">
  <div class="container mb-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6">
        <h1
          class="hero-heading text-uppercase text-center mb-0 animated"
          data-aos="fade-up"
        >
          TeleCare.<br />
          <small>ReInvented.</small>
        </h1>
        <div class="row">
          <div class="col-lg-12">
            <p
              class="lead text-center mt-4 mb-4 animated"
              data-aos="fade-right"
              data-aos-delay=".5"
            >
              Want to Learn more about MedTelPlus products?
            </p>
          </div>
        </div>
        <form action="#" class="subscription-form">
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              class="form-control"
            />
            <button type="submit" class="btn border-light btn-primary">
              Learn More
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end Hero -->

<!-- Intro Section-->
<section class="intro-section">
  <div class="container">
    <div class="text-center">
      <h2>
        Why We're the Best!
      </h2>
      <p class="lead text-muted mt-2">
        With more packages to choose from, MedTelPlus gives you what you
        need.<br />
        No fees. No tricks.<br />Period.
      </p>
      <a href="#" class="btn btn-primary btn-outline-dark">Learn More</a>
    </div>
    <div class="row">
      <div
        class="card col-lg-4 col-md-12 mt-5 card animated"
        data-aos="fade-up"
      >
        <img
          class="card-img-top"
          src="assets/images/doctor.png"
          width="50"
          alt=""
        />
        <div class="card-body text-center">
          <h4 class="card-title">Trusted Providers</h4>
          <p class="card-text">
            Customized Telemedicine that offers the best care from licensed Doctors and Nurses.
          </p>
        </div>
      </div>
      <div
        class="card col-lg-4 col-md-12 mt-5 card animated"
        data-aos="fade-up"
      >
        <img
          class="card-img-top"
          src="assets/images/police.png"
          width="50"
          alt=""
        />
        <div class="card-body text-center">
          <h4 class="card-title">Peace of Mind</h4>
          <p class="card-text">
            Get direct contact with a 911 dispatcher.<br/> No call centers.<br/> No transfering calls.<br/> No wasting precious time.
          </p>
        </div>
      </div>
      <div
        class="card col-lg-4 col-md-12 mt-5 card animated"
        data-aos="fade-up"
      >
        <img
          class="card-img-top"
          src="assets/images/agent.png"
          width="50"
          alt=""
        />
        <div class="card-body text-center">
          <h4 class="card-title">24/7 Support</h4>
          <p class="card-text">
            Our trained agents are always available, so you're never on your
            own.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Intro -->

<!-- Page divider 0 -->
<app-divider [content]="dividers[0]"></app-divider>
<!-- end Divider-->

<!-- Portfolio Section-->
<section class="pb-0">
  <div class="container">
    <div class="text-center">
      <h2 class="text-uppercase text-bold">Shop</h2>
      <p class="lead text-muted mt-2">
        Discover all MedTelPlus Products
      </p>
    </div>
    <div class="portfolio mt-5">
      <div class="row">
        <div class="col-lg-4 p-0">
          <a
            href=""
            routerLink="/store"
            routerLinkActive="active"
            class="portfolio-item"
            ><img
              src="assets/images/911HN_01_500x500.jpg"
              alt="image"
              class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href=""
            routerLink="/store"
            routerLinkActive="active"
            class="portfolio-item"
            ><img
              src="assets/images/911HN_01_500x500.jpg"
              alt="image"
              class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href=""
            routerLink="/store"
            routerLinkActive="active"
            class="portfolio-item"
            ><img
              src="assets/images/911HN_01_500x500.jpg"
              alt="image"
              class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href=""
            routerLink="/store"
            routerLinkActive="active"
            class="portfolio-item"
            ><img
              src="assets/images/911HN_01_500x500.jpg"
              alt="image"
              class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href=""
            routerLink="/store"
            routerLinkActive="active"
            class="portfolio-item"
            ><img
              src="assets/images/911HN_01_500x500.jpg"
              alt="image"
              class="img-fluid"
          /></a>
        </div>
        <div class="col-lg-4 p-0">
          <a
            href=""
            routerLink="/store"
            routerLinkActive="active"
            class="portfolio-item"
            ><img
              src="assets/images/911HN_01_500x500.jpg"
              alt="image"
              class="img-fluid"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Portfolio -->
<!-- Page divider 1 -->
<app-divider [content]="dividers[1]"> </app-divider>
<!-- end Divider-->
