<!-- Hero Section-->
<!-- TODO: Hero Slider ??? -->
<section #hero class="hero home-page bg-gradient-primary">
  <div style="background-image: url(assets/images/masthead/masthead-bg_1.jpg); opacity: .75" class="background">
  </div>
  <div class="overlay container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 mb-5">
        <h2 class="hero-heading text-uppercase text-center mb-5 animate" data-aos="fade-up" data-aos-delay="1000">
          Healthcare, Reinvented
        </h2>
        <div class="row">
          <div class="panel">
            <div class="panel-body">
              <h3 class="text-center text-white" data-aos="fade-left" data-aos-delay="500">We provide the highest
                quality healthcare services as well as many health and accessibility
                products.
              </h3>
              <h5 class="text-white text-center mt-4 mb-4 animate" data-aos="fade-right" data-aos-offset="0"
                data-aos-delay="1500">
                Learn more about <span class="text-primary">MedTelPlus</span><br />Subscribe to our
                newsletter.
              </h5>
              <form class="subscription-form">
                <div class="input-group p-0">
                  <input #email type="email" name="email" placeholder="Enter Email" class="form-control" />
                  <div class="input-group-append">
                    <button [disabled]="!email.value && email.value.length < 3" type="button"
                      class="btn border-0 btn-secondary" (click)="sendNewsletter(email.value)">
                      <i class="fa fa-paper-plane"></i> {{hero.clientWidth > 990 ? 'Subscribe': ''}}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-images">
              <div class="row">
                <img *ngFor="let image of panelImages; let idx = index;" data-aos="fade-up" data-aos-delay="idx * 500"
                  [src]="image.src" [alt]="image.name + ' image'" [title]="image.id"
                  class="animate panel-image col-md-4" (click)="navigateTo('store')">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="downArrow bounce">
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
  </div>
</section>
<!-- end Hero -->

<!-- Banner -->
<div class="text-center pt-4 pb-4">
  <h2 class="text-uppercase text-bold">Shop</h2>
  <p class="lead text-muted mt-2">
    Discover all MedTelPlus Products
  </p>
  <button class="btn btn-outline-primary" (click)="dividerOne.navigateTo('store')">
    Go to Shop <i class="fa fa-shopping-cart"></i>
  </button>
</div>

<section class="mt-5 bg-light text-center pb-0 pt-0">
  <div class="container">
    <div class="row">
      <!--  -->
      <div class="col-sm-10 col-md-8 col-lg-4 mx-auto" *ngFor="let item of products; let i = index;">
        <!-- block1 -->
        <div class="card">
          <img class="card-img" [src]="item.imgUrl" [alt]="item.productName" />

          <div class="card-footer">
            <!-- Button -->
            {{ item.caption }}
            <button class="w-100 btn btn-outline-primary py-2" (click)="navigateTo('store')">
              View
            </button>
          </div>
        </div>

        <!-- block2 -->
      </div>
      <!--  -->

    </div>
  </div>
</section>

<!-- Intro Section-->
<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/doc-pat.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6 text-center my-auto pt-sm-5">
        <h2>
          Why We're the Best!
        </h2>
        <p class="lead text-muted mt-2">
          With more services and products to choose from, MedTelPlus gives you what you
          need.<br />
          No hidden fees. No tricks.<br />Period.
        </p>
        <button class="btn btn-primary btn-outline-dark" (click)="navigateTo('about')">Learn More</button>
      </div>
    </div>
  </div>
</section>
<!-- end Intro -->

<!-- Page divider 0 -->
<app-divider #dividerOne [content]="dividers[0]"></app-divider>
<!-- end Divider-->

<!-- Page divider 1 -->
<app-divider #dividerTwo [content]="dividers[1]"></app-divider>
<!-- end Divider-->

<!-- Page divider 2 -->
<app-divider #dividerThree [content]="dividers[2]"></app-divider>
<!-- end Divider-->