<section class="page-section container pb-1 mb-0">
  <h1 class="text-center text-uppercase p-4">Good {{ getGreetingTime()}}, {{ user?.username }}!</h1>
  <!-- grid row -->
  <div class="row" style="padding-top: 80px;">
    <!-- grid column -->
    <div class="col-lg-4">
      <!-- .card -->
      <div class="card p-0 mb-3">
        <h6 class="card-header text-white bg-gradient-primary"> Your Details </h6>
        <!-- .nav -->
        <div class="card-content p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" [ngClass]="(currentTab | async) === 'account' ? 'active2':''" (click)="toggleTab('account')"><i
              class="fa fa-gears"></i> Account</li>
            <li class="list-group-item" [ngClass]="(currentTab | async) === 'profile' ? 'active2':''" (click)="toggleTab('profile')"><i
              class="fa fa-user"></i> Profile</li>
            <li class="list-group-item" [ngClass]="(currentTab | async) === 'billing' ? 'active2':''" (click)="toggleTab('billing')"><i
              class="fa fa-credit-card"></i> Billing</li>
            <li class="list-group-item" [ngClass]="(currentTab | async) === 'payments' ? 'active2':''" (click)="toggleTab('payments')"><i
              class="fa fa-money"></i> Saved Payments</li>
            <li class="list-group-item" [ngClass]="(currentTab | async) === 'purchases' ? 'active2':''" (click)="toggleTab('purchases')"><i
              class="fa fa-history"></i>  Purchases</li>
          </ul>
        </div>
        <!-- /.nav -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-lg-8">
      <!-- .card -->
      <div class="card p-0 mb-4">
        <div [ngSwitch]="(currentTab | async)">
          <div *ngSwitchCase="'profile'" class="animated slideInLeft fast">
            <h6 class="card-header text-white bg-gradient-primary" id="publicProfile"><i class="fa fa-user"></i> Public Profile</h6>
            <div class="card-body">
              <!-- .media -->
              <div class="mb-3">
                <!-- avatar -->
                <div class="media-body">
                  <h4 class="card-title text-bold">{{user?.firstName}} {{user?.lastName}}</h4>
                  <p class="card-text" *ngIf="user?.additionalUserInfo?.memberSince"><strong>Member Since:</strong>
                    {{getTimestamp(user?.additionalUserInfo?.memberSince) | date}}</p>
                    <hr>
                    <p class="card-text"> Public avatar </p>
                    <div class="user-avatar user-avatar-xl fileinput-button">
                      <img [src]="user?.photoURL" width="75" alt="User Avatar" class="img-thumbnail mb-1">
                    <div class="">
                      <button class="round-btn-overlay bg-light text-primary"><i class="fa fa-pencil"
                          (click)="editAvatar()"></i></button>
                    </div>
                    <input *ngIf="showAvatarEdit" id="fileupload-avatar" type="file" name="avatar"
                      class="animate fadeInLeft">
                  </div>
                  <!-- The avatar upload progress bar -->
                  <!-- <div id="progress-avatar" class="progress progress-xs fade" [hidden]="!(uploading | async)">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                  <!-- /avatar upload progress bar -->
                  <p class="card-text">
                    <small>JPG, GIF or PNG 400x400, &lt; 2 MB.</small>
                  </p>
                </div>
                
        
                <!-- /avatar -->
                <!-- .media-body -->
                <!-- /.media-body -->
              </div>
              <!-- /.media -->
              <!-- form -->
              <form #profile="ngForm" name="profileForm">
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input02" class="col-md-3">Company</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.additionalUserInfo.comapnyName" name="company"
                      class="form-control" #company="ngModel" id="input02" placeholder="Your Company Name" required>
                  </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input03" class="col-md-3">Profile Heading</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <textarea type="text" [(ngModel)]="userUpdates.additionalUserInfo.bio" #bio="ngModel" name="bio"
                      class="form-control" id="input03" placeholder="Add a short bio..." required></textarea>
                    <small class="text-muted">Appears on your profile page, 300 chars max.</small>
                  </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input04" class="col-md-3">Subscribe to Newsletter?</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"
                        [(ngModel)]="userUpdates.additionalUserInfo.subscribed" #subscribed="ngModel" name="subscribed"
                        id="input04" checked="">
                      <label class="custom-control-label" for="input04">Yes, Email newsletter to me</label>
                    </div>
                  </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <hr>
                <!-- .form-actions -->
                <div class="form-actions p-4 col-lg-6 pull-right">
                  <button [disabled]="profile.invalid" (click)="updateUserData(loader, userUpdates, 'profile')"
                    type="button" class="btn hvr hvr-sweep-to-right btn-primary">Update Profile</button>
                </div>
                <!-- /.form-actions -->
              </form>
              <!-- /form -->
            </div>
          </div>
          <div *ngSwitchCase="'billing'" class="animated slideInLeft fast">
            <h6 class="card-header text-white bg-gradient-primary" id="billingData"><i class="fa fa-credit-card"></i> Billing Information </h6>
            <!-- .card-body -->
            <div class="card-body">
              <!-- form -->
              <form #billing>
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input01" class="col-md-3 mb-3">First Name</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.firstName" name="firstname" class="form-control"
                      id="input01" placeholder="" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input02" class="col-md-3 mb-3">Last Name</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.lastName" name="lastname" class="form-control"
                      id="input02" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="email" class="col-md-3 mb-3">Email</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.email" name="email" class="form-control"
                      id="email" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="phone" class="col-md-3 mb-3">Phone</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="phone" [(ngModel)]="userUpdates.billing.phone" name="lastname" class="form-control"
                      id="phone" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input03" class="col-md-3 mb-3">Country</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <select #country id="input03" [(ngModel)]="userUpdates.billing.address.country"
                      name="stateOrProvince" class="custom-select" required="">
                      <option value="">Choose...</option>
                      <option *ngFor="let c of countriesOptions" [value]="c.cc">{{c.cn}}</option>
                    </select>
                  </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input04" class="col-md-3 mb-3">Address Line 1</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.address.street" name="street"
                      class="form-control" id="input04" placeholder="" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input05" class="col-md-3 mb-3">Address Line 2 <br/> <small>Suite / Apt #</small></label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.address.numberOrApt" name="numberOrApt"
                      class="form-control" id="input05"> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input06" class="col-md-3 mb-3">City</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.address.city" name="city" class="form-control"
                      id="input06" placeholder="" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="state" class="col-md-3 mb-3">State</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <select [(ngModel)]="userUpdates.billing.address.stateOrProvince" name="stateOrProvince"
                      class="form-control" id="state" required>
                      <option value="">Choose...</option>
                      <option *ngFor="let s of statesOptions" [value]="s.name">{{s.name}}</option>
                    </select>
                    </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <label for="input08" class="col-md-3 mb-3">Zip / Postal Code</label>
                  <!-- /form column -->
                  <!-- form column -->
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.billing.address.zipcode" name="zipcode"
                      class="form-control" id="input08" placeholder="" required=""> </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <hr>
                <!-- .form-actions -->
                <div class="form-actions pull-right">
                  <button type="submit" (click)="updateUserData(loader, userUpdates, 'billing')"
                    class="btn hvr hvr-sweep-to-right btn-primary ml-auto">Update Billing</button>
                </div>
                <!-- /.form-actions -->
              </form>
              <!-- /form -->

            </div>
            <!-- /.card-body -->
          </div>
          <div *ngSwitchCase="'account'" class="animated slideInLeft fast">
            <h6 class="card-header text-white bg-gradient-primary" id="accountSettings"><i class="fa fa-gears"></i> Account </h6>
            <!-- .card-body -->
            <div class="card-body">
              <!-- form -->
              <form #account="ngForm">
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                    <label class="col-md-3 mb-3" for="input01">First Name</label>
                    <div class="col-md-9 mb-3">
                      <input type="text" [(ngModel)]="userUpdates.firstName" name="firstname" class="form-control"
                      id="input01" placeholder="" required>
                    </div>
                  <!-- /form column -->
                  <!-- form column -->
                    <label class="col-md-3 mb-3" for="input02">Last Name</label>
                    <div class="col-md-9 mb-3">
                      <input type="text" [(ngModel)]="userUpdates.lastName" name="lastname" class="form-control"
                      id="input02" placeholder="" required> 
                    </div>
                  <!-- /form column -->
                </div>
                <!-- /form row -->
                <!-- .form-group -->
                <div class="form-row">
                  <label class="col-md-3 mb-3" for="input03">Email</label>
                  <div class="col-md-9 mb-3">

                    <input type="email" [(ngModel)]="userUpdates.email" name="email" class="form-control" id="input03"
                    placeholder="" required=""> </div>
                  </div>
                <!-- /.form-group -->
                <!-- .form-group -->
                <div class="form-row">
                  <label class="col-md-3 mb-3" for="input04">Password</label>
                  <div class="col-md-9 mb-3">

                    <input type="password" [(ngModel)]="userUpdates.password" name="password1" class="form-control"
                    id="input04" placeholder="" required [disabled]="hasPassword && !(passwordsMatch | async)">
                  </div>
                </div>
                <!-- /.form-group -->
                <!-- .form-group -->
                <div class="form-row">
                  <label class="col-md-3 mb-3" for="input05">Username</label>
                  <div class="col-md-9 mb-3">
                    <input type="text" [(ngModel)]="userUpdates.username" name="username" class="form-control"
                    id="input05" placeholder="" required>
                    <small class="text-lg-right">Use a nickname or preffered name</small>
                  </div>
                </div>
                <!-- /.form-group -->
                <hr>
                <!-- .form-actions -->
                <div class=" form-actions">
                  <div class="input-group">
                    <input [hidden]="!hasPassword" #current type="password"
                    (keyup)="checkAgainstCurrentPassword(current.value, user?.password)" name="current"
                    class="form-control w-full-sm" id="current" placeholder="Enter Current Password To Save Changes" required>
                    <div class="input-group-addon">
                      <button (click)="updateUserData(loader, userUpdates, 'account')"
                        class="btn hvr hvr-sweep-to-right btn-primary" [disabled]="hasPassword && !(passwordsMatch | async)">Update
                        Account</button>
                    </div>
                  </div>
                </div>
                <!-- /.form-actions -->
              </form>
              <!-- /form -->
            </div>
            <!-- /.card-body -->
          </div>
          <div *ngSwitchCase="'payments'" class="animated slideInLeft fast">
            <h6 class="card-header text-white bg-gradient-primary"><i class="fa fa-money"></i> Payment Methods</h6>
            <div class="card-body">
              <app-payment-methods [billingData]="user?.billing" (updatePaymentMethods)="updatePaymentMethods($event, loader)"></app-payment-methods>
            </div>
          </div>
          <div *ngSwitchCase="'purchases'" class="animated slideInLeft fast">
            <h6 class="card-header text-white bg-gradient-primary"><i class="fa fa-list"></i> Purchase History</h6>
            <div class="card-body">
              <app-purchase-history [history]="user?.billing?.purchaseHistory" id="paymentHistory"></app-purchase-history>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /grid column -->
  </div>
  <!-- /grid row -->
</section>
<app-loader #loader></app-loader>